$fade-duration = .6s

.page-fade-enter-active
.fade-leave-active
    transition opacity $fade-duration ease

.page-fade-leave-active
    position absolute
    z-index 0
    top 0
    left 0
    width 100%

.page-fade-enter-active
    transition-delay $fade-duration

.page-fade-enter
.page-fade-leave-active
    opacity 0

.slide-in-enter-active
.slide-in-leave-active
    transition transform .7s cubic-bezier(.48, 0, .12, 1)

.slide-in-leave-active
    transition-delay .3s

.slide-in-enter
.slide-in-leave-to
    transform translateX(-100%)

.modal-enter-active
.modal-leave-active
    transition transform .4s cubic-bezier(.48, 0, .12, 1), opacity .4s

.modal-enter
.modal-leave-to
    opacity 0

    @media desktop-and-up
        transform translateY(60px)

.fade-enter-active
.fade-leave-active
    transition opacity .26s

.fade-enter
.fade-leave-to
    opacity 0

.dropdown-enter-active
.dropdown-leave-active
    transition opacity .2s

.dropdown-enter
.dropdown-leave-to
    opacity 0


.collapsible-enter-active
.collapsible-leave-active
    transition height .5s cubic-bezier(.4, 0, .2, 1)

.collapsible-enter
.collapsible-leave-to
    height 0!important
