clear-button-defaults()
    border 0
    border-radius 0
    background 0 0
    outline 0
    padding 0
    font-family inherit
    color inherit
    cursor pointer
    -webkit-appearance none
    -moz-appearance none

    &::-moz-focus-inner
        border 0

size($width, $height = $width)
    width $width
    height $height

margin-x($margin)
    margin-left $margin
    margin-right $margin

margin-y($margin)
    margin-top $margin
    margin-bottom $margin

padding-x($padding)
    padding-left $padding
    padding-right $padding

padding-y($padding)
    padding-top $padding
    padding-bottom $padding

v-hidden()
    position absolute
    clip rect(1px, 1px, 1px, 1px)
    clip-path inset(50%)
    padding 0
    border 0
    size 1px
    overflow hidden
    white-space nowrap

fluid-image()
    position relative

    &::after
        content ''
        display block
        height 0
        position relative

    & > img
        position absolute
        left 0
        top 0
        size 100%
        object-fit cover
        object-position 50% 50%

proportions(width, height)
    padding-top (height / width * 100) + '%'
