<template>
    <div class="ui-page not-found">
        <div class="not-found__404">
            <NotFoundImage />
        </div>
        <h1>no_page</h1>
        <router-link to="/">to_main</router-link>
    </div>
</template>

<script>
import NotFoundImage from '@svg/404.svg?inline';

export default {
    components: {
        NotFoundImage
    }
};
</script>

<style lang="stylus">
.not-found
    min-height 100vh
    background-color #000
    display flex
    flex-direction column
    justify-content center
    align-items center
    color #fff

    h1
        margin-bottom 80px
        font-size 20px
        font-weight 400

        @media desktop-and-up
            font-weight 100
            font-size 24px
            margin-bottom 100px

    &__404
        fill currentColor
        margin-x auto
        width 230px
        margin-bottom 56px

        @media desktop-and-up
            width 440px

    a
        border 1px solid #4c4c4c
        padding 16px 32px 14px
        text-transform uppercase
        font-size 9px
        letter-spacing .09em
        user-select none
        color #fff
        font-weight 700

        @media (hover)
            transition opacity .24s

            &:hover
                opacity .65

        @media desktop-and-up
            font-size 10px
</style>

