<template>
    <div :class="$style.container">
        <div :class="$style.authWrapper">
            <a
                :class="$style.mainLink "
                :href="botUrl"
                target="_blank"
            >
                <MessengerIcon />
                {{ i18n('connect_leadza_bot') }}
            </a>
            <p :class="$style.terms">{{ i18n('after_conneting_leadza_bot_click') }} <a href="/">{{ i18n('back') }}</a></p>
        </div>
    </div>
</template>

<script>
import MessengerIcon from '@svg/Facebook_Messenger_logo.svg?inline';
import store from '@/store';
import auth from '@/store/modules/auth';
import i18n from '@/utils/i18nQuery';
import i18nDictionary from '@/utils/i18nDictionary';
export default {
    components: {
        MessengerIcon,
        auth
    },
    data () {
        return {
            botUrl: '#',
            i18nDictionary,
            i18n
        };
    },
    mounted () {
        this.botUrl = this.$route.query.id;
    },
    methods: {
        onSignInSuccess () {
            console.log(store.getters['auth/loggedId']);
        }
    }
};
</script>

<style lang='stylus' module>
.container
    min-height 100vh
    display flex
    justify-content center
    align-items center
    background-color #f5f6f7

.authWrapper
    max-width 270px

.title
    font-size 26px
    color #bababa
    margin-bottom 20px
    font-weight 300

.fbButton
    clear-button-defaults()
    color:#fff
    background-color #4b67a3
    display block
    margin-bottom 25px
    margin-bottom 25px
    border-radius 4px
    text-align center
    height 45px
.terms
    font-size 14px
    line-height 1.5

    a
        color $accent
        transition color .24s

        &:hover
            color #2d70bd

.mainLink
    margin-top 20px
    font-size 26px
    color $accent
    transition color .24s

    &:hover
        color #2d70bd
        text-decoration underline
.preloader
    size 200px
    margin-bottom 40px
</style>
