<template>
    <Modal>
        <template slot="header">
            <div :class="$style.title">
                <h2 id="modalTitle"> {{ i18n('plans') }}</h2>
                <span :class="$style.pin"> {{ i18n('yearly_subscription') }}</span>
                <span :class="[$style.pin, $style.pin_trial]"> {{ i18n('1_week_trial') }}</span>
            </div>
        </template>
        <div :class="$style.containter">
            <div :class="$style.options">
                <div
                    v-for="(rate, index) in rates"
                    v-show="!rate.hidden"
                    :key="index"
                    :class="[$style.option, { [$style.disabled]: !isRateAvaliable(rate) }]"
                >
                    <div :class="$style.radio">
                        <RadioButton
                            :native-value="rate"
                            :disabled="!isRateAvaliable(rate)"
                            v-model="rateProxy"
                        >
                            <span :class="$style.radioLabel">{{ rate.name }}</span>
                        </RadioButton>
                    </div>
                    <div :class="$style.optionSpends">spend {{ rate.spends }}</div>
                    <div :class="$style.optionPrice">{{ rate.monthPricingStr }}</div>
                </div>
            </div>
            <PricingSpends />
        </div>
        <template slot="footer">
            <div :class="$style.footer">
                <button
                    :disabled="syncInProcess"
                    type="button"
                    class="ui-button ui-button_accent"
                    @click="syncAccounts"
                >{{ i18n('sync_accounts') }}</button>
                <button
                    type="button"
                    class="ui-button ui-button_accent"
                    @click="getcheklist(selectedRate, true)"
                >{{ i18n('save') }}</button>
            </div>
        </template>
    </Modal>
</template>

<script>
import Modal from '@/components/Modal';
import PricingSpends from '@/components/PricingSpends';
import RadioButton from '@/components/BaseRadioButton';
import Tooltip from '@/components/BaseTooltip';
import { mapState, mapMutations, mapGetters, mapActions } from 'vuex';
import axios from 'axios';
import i18n from '@/utils/i18nQuery';
import i18nDictionary from '@/utils/i18nDictionary';

export default {
    components: {
        Modal,
        PricingSpends,
        RadioButton,
        Tooltip
    },
    data () {
        return {
            syncInProcess: false,
            checked: false,
            i18nDictionary,
            i18n
        };
    },
    computed: {
        ...mapState('pricingModule', ['rates', 'selectedRate']),
        ...mapState('settingsModule', ['labels']),
        ...mapGetters('settingsModule', ['getLabelsLength']),
        ...mapGetters('pricingModule', [
            'isRateAvaliable',
            'isOverLimit',
            'isCurrentRateAvaliable',
            'getCurrentSpend',
            'firstAvaliableRate'
        ]),

        rateProxy: {
            get () {
                return this.selectedRate;
            },
            set (value) {
                this.SELECT_RATE(value);
            }
        }
    },
    created () {
        if (!this.selectedRate) {
            this.SELECT_RATE(this.firstAvaliableRate);
        }

        this.unsubcribe = this.$store.watch(
            () => this.getCurrentSpend,
            () => {
                this.SELECT_RATE(this.firstAvaliableRate);
            }
        );
    },
    mounted () {
        this.getSettings();
    },
    beforeDestroy () {
        this.unsubcribe();
    },

    methods: {
        ...mapMutations('pricingModule', ['SELECT_RATE', 'ADDADS']),
        ...mapActions('pricingModule', ['showAds']),

        getSettings () {
            axios
                .get(`/api/user/${ this.$store.getters['auth/userId']}/settings`)
                .then(response => {
                    const apiData = response.data.accounts_and_campaigns.accounts;

                    if (localStorage.Accounts || localStorage.Campaigns) {
                    // eslint-disable-next-line
                        if (confirm(this.i18n('unsaved_changes_has_applied'))) {
                            applyUnsaveAccounts();
                            applyUnsaveCampaigns();
                        }
                    }
                    function applyUnsaveAccounts () {
                        if (localStorage.Accounts) {
                            const Accounts = JSON.parse(localStorage.Accounts);
                            let a = 0;
                            for (let i = 0; i < apiData.length; i++) {
                                apiData[i].enabled = false;
                                if (apiData[i].id === Accounts[a]) {
                                    apiData[i].enabled = true;
                                    a++;
                                }
                            }
                        }
                    }
                    function applyUnsaveCampaigns () {
                        if (localStorage.Campaigns) {
                            const Campaigns = JSON.parse(localStorage.Campaigns);
                            let c = 0;
                            for (let j = 0; j < apiData.length; j++) {
                                const campaigns = apiData[j].campaigns;
                                for (let k = 0; k < campaigns.length; k++) {
                                    campaigns[k].enabled = false;
                                    if (campaigns[k].id === Campaigns[c]) {
                                        campaigns[k].enabled = true;
                                        c++;
                                    }
                                }
                            }
                        }
                    }
                    this.showAds(apiData);
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        },
        getcheklist (plan, dryRun) {
            const arr = this.$store.state.pricingModule.ads;
            console.log(this.$store.state.pricingModule.ads);
            const enabledCampaigns = [];
            const enabledAccounts = [];
            for (let i = 0; i < arr.length; i++) {
                const campaigns = arr[i].campaigns;
                if (arr[i].enabled) {
                    enabledAccounts.push(arr[i].id);
                }
                for (let k = 0; k < campaigns.length; k++) {
                    if (campaigns[k].enabled) {
                        enabledCampaigns.push(campaigns[k].id);
                    }
                }
            }
            const toApi = {
            /* eslint-disable */
                enabled_campaigns: enabledCampaigns,
                enabled_accounts: enabledAccounts
            };

            if (dryRun === true) {
                this.checked = true
                toApi.dry_run = true 
                localStorage.Accounts = JSON.stringify(enabledAccounts)
                localStorage.Campaigns = JSON.stringify(enabledCampaigns)
            } else {
                this.checked = false
                localStorage.clear();
                this.$bus.$emit('addAccount', toApi);

            }
            console.log(toApi)
            /* eslint-enable */
            axios
                .patch(`/api/user/${ this.$store.getters['auth/userId']}/settings`, toApi)
                .then(response => {
                    console.log(response);
                    if (this.checked === true) {
                        this.getcheklist();
                    }
                    this.close();
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                        if (error.response.data.subcode === 401) {
                            this.$router.push({ path: '/billing', query: { toplan: error.response.data.recommended_plan_id } });
                        }
                    }
                    return true;
                });
        },
        syncAccounts () {
            this.syncInProcess = true;
            axios
                .post(`/api/user/${ this.$store.getters['auth/userId']}/actions/sync_accounts_and_campaigns`, {})
                .then(response => {
                    this.syncInProcess = false;
                    console.log('response!#');
                    console.log(response);
                    this.getSettings();
                })
                .catch(error => {
                    console.log(error);
                });
        },
        close () {
            this.$router.push('/');
        }
    }
};
</script>

<style lang='stylus' module>
.title
    display flex
    align-items center

    h2
        font-size 26px
        font-weight 300
        color #bababa

.pin
    background-color #b3b3b3
    border-radius 3px
    padding 4px 9px
    display block
    color #fff
    font-weight 300
    font-size 14px
    margin-left 6px
.pin_trial
    background-color #358ef5
.radio
    display flex
    align-items center
    margin-top 20px
    margin-bottom 10px

    @media desktop-and-up
        margin-top 0

.options
    display flex
    flex-wrap wrap
    justify-content space-between
    padding-left 10px
    padding-right 20px
    margin-bottom 80px

    @media desktop-and-up
        padding-x 110px
        margin-bottom 55px
        flex-wrap nowrap

.option
    // max-width 50%
    width 40%

    &.disabled
        opacity .5

    @media desktop-and-up
        padding 17px 30px 20px
        flex 1 0 25%
        border 1px solid #f2f2f2

        &:not(:last-child)
            border-right 0

.radioLabel
    font-size 16px
    font-weight 700
    color #252525
    margin-left 5px

.optionSpends
.optionPrice
    font-size 13px
    margin-left 19px

.optionSpends
    margin-bottom 7px

.optionPrice
    font-weight 700

.radioTooltip
    margin-left 5px

.footer
    display flex
    justify-content space-between
</style>
