<template>
    <Modal :heading="i18n('settings')">
        <div :class="$style.containter">
            <div :class="$style.section">
                <div :class="$style.heading">
                    <h3>{{ i18n('language') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.column">
                        <BaseSelect
                            v-model="userLang"
                            :options="languages"
                            :placeholder="i18n('language')"
                            size="small"
                            @input="chooseLang"
                        />
                    </div>
                    <BaseTooltip>{{ i18n('choose_lang') }} </BaseTooltip>
                </div>
            </div>
            <div :class="$style.section">
                <div :class="$style.heading">
                    <h3>{{ i18n('time_zone') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.column">
                        <BaseSelect
                            v-model="timezone"
                            :options="zones"
                            placeholder="UTC-0"
                            size="small"
                            @input="editTimeZone"
                        />
                    </div>
                    <BaseTooltip v-show="timezone.value !== browserTimeZone.value">{{ i18n('diffTimeZone') }} </BaseTooltip>
                </div>
            </div>
            <div :class="$style.section">
                <div :class="$style.heading">
                    <h3>{{ i18n('subscription_schedule_hour') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.column">
                        <BaseSelect
                            v-model="subscriptionScheduleHour"
                            :options="subscriptionHours"
                            :placeholder="i18n('time_empty')"
                            size="small"
                            @input="editHour"
                        />
                    </div>
                    <BaseTooltip>{{ i18n('schedule_hour') }} </BaseTooltip>
                </div>
            </div>
            <div :class="$style.section">
                <div :class="$style.heading">
                    <h3>{{ i18n('credit_card') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.info">
                        <button
                            type="button"
                            class="ui-button"
                            @click="deleteCard"
                        >{{ i18n('delete_credit_card') }}</button>
                    </div>
                    <BaseTooltip>{{ i18n('tip_delete_credit_card') }} </BaseTooltip>
                </div>
            </div>
            <div :class="$style.section">
                <div :class="$style.heading">
                    <h3>{{ i18n('remove_account') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.info">
                        <button
                            type="button"
                            class="ui-button"
                            @click="confirmErase"
                        >{{ i18n('delete_all_data') }}</button>
                    </div>
                    <BaseTooltip>{{ i18n('tip_delete_all_data') }} </BaseTooltip>
                </div>
            </div>
            <div :class="$style.section">
                <div :class="$style.heading">
                    <h3 @click="becomeUser()">{{ i18n('support') }}</h3>
                </div>
                <div :class="$style.row">
                    <div :class="$style.info">
                        <button
                            type="button"
                            class="ui-button"
                            @click="support"
                        >{{ i18n('send_issue') }}</button>
                    </div>
                </div>
            </div>
        </div>
        <template slot="footer">
            <div :class="$style.footer">
                <button
                    type="button"
                    class="ui-button"
                    @click="close"
                >{{ i18n('cancel') }}</button>
                <button
                    type="button"
                    class="ui-button ui-button_accent"
                    @click="close"
                >{{ i18n('save') }}</button>
            </div>
        </template>
    </Modal>
</template>

<script>
import Modal from '@/components/Modal';
import BaseSelect from '@/components/BaseSelect';
import axios from 'axios';
import i18n from '@/utils/i18nQuery';
import i18nDictionary from '@/utils/i18nDictionary';
import BaseTooltip from '@/components/BaseTooltip';
import { getCookie, setCookie, remove } from 'tiny-cookie';

export default {
    components: {
        Modal,
        BaseTooltip,
        BaseSelect
    },

    data () {
        return {
            timezone: { value: 0, label: 'UTC-0' },
            subscriptionScheduleHour: null,
            subscriptionHours: [
                { value: 0, label: '0:00' },
                { value: 60, label: '1:00' },
                { value: 120, label: '2:00' },
                { value: 180, label: '3:00' },
                { value: 240, label: '4:00' },
                { value: 300, label: '5:00' },
                { value: 360, label: '6:00' },
                { value: 420, label: '7:00' },
                { value: 480, label: '8:00' },
                { value: 540, label: '9:00' },
                { value: 600, label: '10:00' },
                { value: 660, label: '11:00' },
                { value: 720, label: '12:00' },
                { value: 780, label: '13:00' },
                { value: 840, label: '14:00' },
                { value: 900, label: '15:00' },
                { value: 960, label: '16:00' },
                { value: 1020, label: '17:00' },
                { value: 1080, label: '18:00' },
                { value: 1140, label: '19:00' },
                { value: 1200, label: '20:00' },
                { value: 1260, label: '21:00' },
                { value: 1320, label: '22:00' },
                { value: 1380, label: '23:00' }
            ],
            i18nDictionary,
            i18n,
            zones: [
                { value: 720, label: 'UTC-12' },
                { value: 660, label: 'UTC-11' },
                { value: 600, label: 'UTC-10' },
                { value: 540, label: 'UTC-9' },
                { value: 480, label: 'UTC-8' },
                { value: 420, label: 'UTC-7' },
                { value: 360, label: 'UTC-6' },
                { value: 300, label: 'UTC-5' },
                { value: 240, label: 'UTC-4' },
                { value: 180, label: 'UTC-3' },
                { value: 120, label: 'UTC-2' },
                { value: 60, label: 'UTC-1' },
                { value: 0, label: 'UTC-0' },
                { value: -60, label: 'UTC+1' },
                { value: -120, label: 'UTC+2' },
                { value: -180, label: 'UTC+3' },
                { value: -210, label: 'UTC+3:30' },
                { value: -240, label: 'UTC+4' },
                { value: -270, label: 'UTC+4:30' },
                { value: -300, label: 'UTC+5' },
                { value: -345, label: 'UTC+5:45' },
                { value: -360, label: 'UTC+6' },
                { value: -390, label: 'UTC+6:30' },
                { value: -420, label: 'UTC+7' },
                { value: -480, label: 'UTC+8' },
                { value: -525, label: 'UTC+8:45' },
                { value: -540, label: 'UTC+9' },
                { value: -570, label: 'UTC+9:30' },
                { value: -600, label: 'UTC+10' },
                { value: -630, label: 'UTC+10:30' },
                { value: -660, label: 'UTC+11' },
                { value: -720, label: 'UTC+12' },
                { value: -765, label: 'UTC+12:45' },
                { value: -780, label: 'UTC+13' },
                { value: -840, label: 'UTC+14' }
            ],
            browserTimeZone: {},
            userLang: { value: 'en', label: 'English' },
            languages: [
                { value: 'en', label: 'English' },
                { value: 'ru', label: 'Русский' }
            ],
            fromRoute: null,
            option: null,
            list: null
        };
    },
    mounted () {
        if (getCookie('lang') === null) {
            this.userLang = { value: 'en', label: 'English' };
        } else {
            this.userLang = this.languages.find(lang => lang.value === getCookie('lang'));
        }
        this.UTC = new Date().getTimezoneOffset();
        this.browserTimeZone = this.zones.find(zone => zone.value === this.UTC);
        this.allset = axios
            .get(`/api/user/${ this.$store.getters['auth/userId']}/settings`)
            .then(response => {
                this.timezone = this.zones.find(zone => zone.value === response.data.timezone);
                this.subscriptionScheduleHour = this.subscriptionHours.find(hour => hour.value === response.data.subscription_schedule_hour);
                this.list = response.data.accounts_and_campaigns.accounts[0].campaigns;
                this.allset = response.data.accounts_and_campaigns;
            })
            .catch(error => {
                console.log(error);
                if (error.response.status === 400) {
                    console.log(error.response.data.reason);
                }
                return true;
            })
            .finally(() => (this.loading = false));
    },

    methods: {
        editTimeZone () {
            axios
                .patch(`/api/user/${ this.$store.getters['auth/userId']}/settings`, { timezone: this.timezone.value })
                .then(response => {
                    console.log(Object.keys(response.data).map((key) => response.data[key]));
                })
                .catch(error => {
                    console.log(error);
                    return true;
                })
                .finally(() => (this.loading = false));
        },
        editHour () {
            axios
                // eslint-disable-next-line
                .patch(`/api/user/${ this.$store.getters['auth/userId']}/settings`, { schedule_time: this.subscriptionScheduleHour.value})
                .then(response => {
                    console.log(Object.keys(response.data).map((key) => response.data[key]));
                })
                .catch(error => {
                    console.log(error);
                    return true;
                })
                .finally(() => (this.loading = false));
        },
        deleteCard () {
            axios
                .delete(`/api/user/${ this.$store.getters['auth/userId']}/billing/payment_source`)
                .then(response => {
                    console.log(Object.keys(response.data).map((key) => response.data[key]));
                    this.$router.push('/billing');
                })
                .catch(error => {
                    console.log(error);
                    return true;
                })
                .finally(() => (this.loading = false));
        },
        confirmErase () {
            // eslint-disable-next-line
            if (confirm(this.i18n('erase_all_you_data'))) {
                this.eraseMe();
            }
        },
        eraseMe () {
            axios
                .delete(`/api/user/${ this.$store.getters['auth/userId']}`, this.$store.state.currentUser)
                .then(() => {
                    this.$store.dispatch('auth/logOut', this.$store.state.currentUser);
                })
                .catch(error => {
                    console.log(error);
                    return true;
                })
                .finally(() => (this.$store.dispatch('auth/logOut')));
        },
        support () {
            const debugObj = this.$store.getters['auth/user'];
            function jsonToQueryString (json) {
                return Object.keys(json).map(key => {
                    return `${encodeURIComponent(key)}=${encodeURIComponent(json[key])}`;
                }).join('&');
            }
            axios
                .get(`/api/issue?${ jsonToQueryString(debugObj)}`)

                .then(() => {
                    console.log('1');
                })
                .catch(error => {
                    console.log(error);
                    return true;
                })
                .finally(() => (this.loading = false));
        },
        chooseLang () {
            setCookie('lang', this.userLang.value);
            this.$router.go('/');
        },
        becomeUser () {
            this.deleteCookie('fbid');
            // eslint-disable-next-line
            setCookie('fbid', prompt('fbid'), { domain: '.leadza.ai' });
            this.deleteCookie('apiToken');
            // eslint-disable-next-line
            setCookie('apiToken', prompt('access token'), { domain: '.leadza.ai' });
            location.reload(true);
        },
        deleteCookie (name) {
            remove(name, { domain: '.leadza.ai' });
        },
        close () {
            this.$router.push('/');
        }
    }
};
</script>

<style lang='stylus' module>
.footer
    display flex
    justify-content space-between

.progress
    width  300px

.section
    padding 20px 10px

    &:nth-of-type(odd)
        background-color #f8f8f8

    @media desktop-and-up
        min-height 80px
        padding 20px 110px
        display flex
        align-items center
        position relative

        &::before
            content ''
            position absolute
            left 250px
            border-left 2px solid #fff
            height 100%

.planSelect
    width 180px
    margin-bottom 30px

    @media desktop-and-up
        margin-bottom 0
        margin-right 37px

.heading
    margin-bottom 20px

    & > h3
        font-size 13px
        font-weight 700
        color $accent

        @media desktop-and-up
            font-size 15px
            color #707070

    @media desktop-and-up
        width 140px
        margin-bottom 0

.row
    flex 1 1 auto

    @media desktop-and-up
        display flex
        align-items center
        padding-left 30px

.timeWrapper
    display flex
    align-items center
    margin-bottom 17px

    @media desktop-and-up
        margin-bottom 0
        margin-right 20px

.tip
    font-size 12px
    color #8f8f8f
    font-style italic

    @media desktop-and-up
        margin-left auto

.timeZone
    font-size 15px
    margin-right 25px

.cardNumberMask
    vertical-align text-top

.info
    font-size 14px
    line-height 1.5

    p + p
        margin-top 15px

.switch
    display flex
    align-items center

.switchLabel
    color #222
    font-size 14px
    margin-left 8px
    line-height 1
</style>
