<template>
    <div :class="[$style.select, selectClasses]">
        <div :class="$style.wrapper">
            <button
                :class="$style.toggle"
                :disabled="disabled"
                type="button"
                @click="toggle"
            >
                <span v-if="!proxyValue" :class="$style.placeholder">{{ placeholder }}</span>
                <span v-if="proxyValue" :class="$style.selected">
                    <slot
                        v-bind="bindOption(proxyValue)"
                        name="selected-option"
                    >
                        {{ getOptionValue(proxyValue) }}
                    </slot>
                </span>
            </button>
        </div>
        <transition name="dropdown">
            <div
                v-show="isOpen"
                :class="$style.body"
            >
                <button
                    :class="$style.close"
                    type="button"
                    title="Close"
                    aria-label="Close"
                    @click="close"
                ><span /></button>
                <ul :class="$style.list">
                    <li
                        v-for="(option, index) in filteredOptions"
                        :key="index"
                        :class="[$style.option, { [$style.highlighted]: highlightedIndex === index }, { [$style.disabled]: !getOptionEnabled(option) }]"
                        @click="select(option)"
                    >
                        <slot
                            v-bind="bindOption(option)"
                            name="option"
                        >
                            {{ getOptionValue(option) }}
                        </slot>
                    </li>
                </ul>
            </div>
        </transition>
    </div>
</template>

<script>
import equals from '@/utils/equals';
import isObject from '@/utils/is-object';

export default {
    name: 'BaseSelect',

    props: {
        value: {
            type: [String, Object, Boolean, Array, Symbol, Number],
            default: null
        },

        options: {
            type: Array,
            default () {
                return [];
            }
        },

        disabled: {
            type: Boolean,
            default: false
        },

        placeholder: {
            type: String,
            default: ''
        },

        labelKey: {
            type: String,
            default: 'label'
        },
        enabledKey: {
            type: Boolean,
            default: true
        },

        size: {
            type: String
        }
    },

    data () {
        return {
            isOpen: false,
            proxyValue: null,
            proxyOptions: [],
            highlightedIndex: -1
        };
    },

    computed: {
        filteredOptions () {
            return this.proxyOptions.filter(o => !equals(o, this.proxyValue));
        },

        selectClasses () {
            const { open, small } = this.$style;
            return {
                [open]: this.isOpen,
                [small]: this.size === 'small'
            };
        }
    },

    watch: {
        value (val) {
            this.proxyValue = val;
        },
        options (options) {
            this.proxyOptions = [...options];
        }
    },

    created () {
        this.proxyValue = this.value;
        this.proxyOptions = [...this.options];
    },

    methods: {
        toggle () {
            this[this.isOpen ? 'close' : 'open']();
        },

        open () {
            this.isOpen = true;
            this.attachListeners();
        },

        close () {
            this.isOpen = false;
            this.detachListeners();
            this.highlightedIndex = -1;
        },

        attachListeners () {
            document.addEventListener('click', this.handleExternalClick);
            window.addEventListener('keydown', this.handleKeydown, false);
        },

        detachListeners () {
            document.removeEventListener('click', this.handleExternalClick);
            window.removeEventListener('keydown', this.handleKeydown, false);
        },

        handleKeydown (e) {
            switch (e.keyCode) {
                case 38:
                    e.preventDefault();
                    if (this.highlightedIndex > 0) {
                        this.highlightedIndex -= 1;
                    }
                    break;
                case 40:
                    e.preventDefault();
                    if (this.highlightedIndex + 1 < this.filteredOptions.length) {
                        this.highlightedIndex += 1;
                    }
                    break;
                case 27:
                    e.preventDefault();
                    this.close();
                    break;
                case 13:
                    e.preventDefault();
                    this.select(this.filteredOptions[this.highlightedIndex]);
                    break;
                default:
                    break;
            }
        },

        select (option) {
            this.proxyValue = option;
            this.close();
            this.$emit('input', option);
        },

        handleExternalClick (e) {
            const target = e.target;

            const isSelf = target === this.$el;
            const isChild = this.$el.contains(target);
            const isInside = isSelf || isChild;

            if (!isInside) {
                this.close();
            }
        },

        getOptionValue (value) {
            return isObject(value) ? value[this.labelKey] : value;
        },
        getOptionEnabled (value) {
            return value.hasOwnProperty('enabled') ? value.enabled : true;
        },

        bindOption (value) {
            return isObject(value) ? value : { [this.labelKey]: value };
        }
    }
};
</script>

<style lang='stylus' module>
.select
    position relative
    width 100%

    @media desktop-and-up
        max-width 800px

.body
    position fixed
    top 0
    left 0
    background-color #fff
    z-index 10
    width 100%
    min-height 100vh
    overflow-y scroll
    height 100%
    padding-y 10px
    -webkit-overflow-scrolling touch

    @media desktop-and-up
        height auto
        position absolute
        top 100%
        padding-y 0
        box-shadow 0 5px 8px 0 rgba(0, 0, 0, .12)
        max-height 200px
        min-height auto

        &::-webkit-scrollbar-track
            background-color transparent

        &::-webkit-scrollbar
            size 4px
            background-color transparent

        &::-webkit-scrollbar-track-piece
            background-color #fff

        &::-webkit-scrollbar-thumb
            background-color #343434

            &:hover
            &:focus
                background-color #242424

.option
    padding 7.5px 20px
    font-size 20px
    transition background-color .2s
    cursor pointer
    font-weight 300
    line-height 1.05

    @media desktop-and-up
        .select.small &
            font-size 16px
            padding 10px 8px
            font-weight 400

    &:hover
    &.highlighted
        background-color #f5f5f5
    &.disabled
        color #eee
        pointer-events none

.optionLabel
    font-size 20px
    margin-left 7px

.selected
    color #343434
    white-space nowrap
    text-overflow ellipsis
    display block
    overflow hidden

.toggle
    clear-button-defaults()
    width 100%
    height 40px
    line-height @height
    background-color #fff
    box-shadow 0 0 5px 0 rgba(0, 0, 0, .07)
    font-size 16px
    color #bababa
    text-align left
    padding-left 13px
    padding-right 30px
    position relative

    &:disabled
        opacity .6
        cursor not-allowed

    .small &
        padding-left 8px
        padding-right 30px
        font-weight 400

    @media desktop-and-up
        font-weight 300

        .select:not(.small) &
            box-shadow 0 0 8px 0 rgba(0, 0, 0, .12)
            font-size 20px
            height 56px
            line-height @height
            padding-left 20px
            padding-right 35px

    .open &::after
        transform rotate(180deg)

    &::after
        content ''
        position absolute
        height 6px
        width 8px
        top 'calc(50% - %s)' % (@height / 2)
        right 15px
        background url('@/assets/images/svg/triangle.svg') no-repeat 50% 50% / contain
        transition transform .22s

        .small &
            right 12px

        @media desktop-and-up
            .select:not(.small) &
                height 8px
                width 10px
                top 'calc(50% - %s)' % (@height / 2)

.close
    clear-button-defaults()
    position absolute
    top 20px
    right 20px

    @media desktop-and-up
        display none

    span
        position relative
        display block
        size 18px
        color #515151
        transform rotate(45deg)

        @media desktop-and-up
            size 26px
            transition opacity .2s

            @media desktop-and-up
                &:hover
                    opacity .6

        &::after
        &::before
            content ''
            position absolute
            background-color currentColor

        &::after
            top 0
            left calc(50% - 1px)
            width 2px
            height 100%

        &::before
            left 0
            top calc(50% - 1px)
            height 2px
            width 100%
</style>
