<template>
    <div>
        <header :class="$style.header">
            <div :class="$style.container">
                <nav :class="$style.navigation">
                    <button
                        :class="$style.control"
                        type="button"
                        @click="goOut('https://intercom.help/leadza-support')"
                    >
                        <span :class="[$style.controlIcon, $style.helpIcon]">
                            <HelpIcon />
                        </span>
                    </button>
                    <button
                        :class="$style.control"
                        type="button"
                        @click="go('/billing')"
                    >
                        <span :class="[$style.controlIcon, $style.currencyIcon]">
                            <CurrencyIcon />
                        </span>
                    </button>
                    <button
                        :class="$style.control"
                        type="button"
                        @click="go('/plans')"
                    >
                        <span :class="[$style.controlIcon, $style.settingsIcon]">
                            <SettingsIcon />
                        </span>
                    </button>
                    <div
                        :class="$style.profile"
                    >
                        <span :class="$style.profileWrapper">
                            <img
                                :class="$style.profileImage"
                                :src="userAva"
                                @click="go('/settings')"
                            >
                            <button
                                :class="$style.logout"
                                type="button"
                                @click="exit()"
                            ><LogoutIcon /></button>
                        </span>
                    </div>
                </nav>
                <button
                    :class="$style.add"
                    type="button"
                    @click="go('/optimization')"
                >
                    <span :class="$style.addLabel"> {{ i18n('add_optimization') }} </span>
                    <span :class="$style.addIcon" />
                </button>
                <button
                    :class="$style.menu"
                    type="button"
                    @click="menuIsActive = !menuIsActive"
                >
                    <div :class="$style.menuIcon">
                        <span :class="[$style.menuLines, { [$style.expanded]: menuIsActive }]" />
                    </div>
                </button>
            </div>
        </header>
        <Menu :is-active="menuIsActive" />
    </div>
</template>

<script>
import store from '@/store';
import Menu from './Menu';
import CurrencyIcon from '@svg/currency.svg?inline';
import HelpIcon from '@svg/help.svg?inline';
import SettingsIcon from '@svg/settings.svg?inline';
import SetupsIcon from '@svg/setups.svg?inline';
import LogoutIcon from '@svg/logout.svg?inline';
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';
export default {
    name: 'Header',

    components: {
        Menu,
        CurrencyIcon,
        HelpIcon,
        SettingsIcon,
        SetupsIcon,
        LogoutIcon
    },

    data () {
        return {
            i18nDictionary,
            i18n,
            menuIsActive: false,
            userName: '',
            botUrl: '',
            userAva: `https://graph.facebook.com/${store.getters['auth/userId']}/picture?type=small`
        };
    },
    methods: {
        go (path) {
            this.$router.push(path);
        },
        goOut (path) {
            window.open(path, '_blank');
        },
        exit () {
            this.$store.dispatch('auth/logOut');
        }
    }
};
</script>

<style lang="stylus" module>
.header
    background-color #fff
    box-shadow 0 0 8px 0 rgba(0, 0, 0, .5)
    height 50px
    position relative
    z-index 102

    @media desktop-and-up
        height 80px

.container
    display flex
    height 100%
    max-width 1000px
    margin-x auto

.navigation
    flex 1 1 auto

    @media desktop-and-up
        order 1
        flex 0 0 auto
        margin-left auto
        display flex

.control
.add
    @media desktop-and-up
        transition background-color .25s
        &:hover
            background-color #f8f8f8
.control
    display none

    @media desktop-and-up
        display block
        clear-button-defaults()
        padding-x 28px
        display flex
        justify-content center
        align-items center
        border-left 1px solid #ddd

.controlIcon
    display block

    &.currencyIcon
        size 24px

    &.helpIcon
        size 24px

    &.notificationIcon
    &.notificationIcon
        height 23px
        width 18px

    &.settingsIcon
        width 23px
        height 21px

.profile
    display block
    height 100%
    flex 1 1 auto
    text-align left
    align-items center
    display flex
    border-right 1px solid #ddd

    @media desktop-and-up
        width auto
        flex 0 0 auto
        border-left 1px solid #ddd

.profileWrapper
    display flex
    align-items center
    padding-x 10px
    overflow hidden

    @media desktop-and-up
        padding-left 20px
        padding-right 12px

.logout
    display none

    @media desktop-and-up
        display block
        clear-button-defaults()
        transition opacity .25s
        width 20px
        height 19px
        fill #2d2d2d
        opacity .3

        &:hover
            opacity 1

.profileImage
    size 34px
    border-radius 50%
    background-color #f1f1f1
    margin-right 10px
    flex 0 0 auto

    img
        display block
        size 100%
        object-fit cover
    &:hover
        opacity 0.5

    @media desktop-and-up
        size 50px

.profileName
    flex 1 1 auto
    font-size 13px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

    @media desktop-and-up
        font-size 17px
        margin-right 10px

.add
    clear-button-defaults()
    padding-x 12px
    border-right 1px solid #ddd

    @media desktop-and-up
        border-left 1px solid #ddd
        padding-x 20px

.addLabel
    display none

    @media desktop-and-up
        display inline-block
        vertical-align middle
        margin-right 5px
        color #343434
        font-size 14px
        font-weight 700

.addIcon
    position relative
    size 15px
    display inline-block
    vertical-align middle

    &::after
    &::before
        content ''
        position absolute
        background-color #515151

    &::after
        left 0
        top calc(50% - 1.5px)
        width 100%
        height 3px

    &::before
        top 0
        left calc(50% - 1.5px)
        width 3px
        height 100%

    @media desktop-and-up
        &::after
        &::before
            background-color #aeaeae

$menu-height = 18px
$line-size = 2px
$line-gap = ($menu-height / 2) - $line-size

.menu
    clear-button-defaults()
    display flex
    align-items center
    color #515151
    padding-x 11px

    @media desktop-and-up
        display none

.menuIcon
    height $menu-height
    width @height
    position relative

.menuLines
    top 'calc(50% - %s)' % $line-size

    &.expanded
        transform rotate(45deg)

        &::before
            opacity 0
            transform translateY($line-gap)

        &::after
            transform translateY(- $line-gap) rotate(90deg)

    &::before
    &::after
        content ''

    &::before
        top  - $line-gap

    &::after
        bottom - $line-gap

    &
    &::before
    &::after
        transition transform .32s ease-in-out, opacity .15s
        position absolute
        left 0
        right 0
        height $line-size
        background-color currentColor
</style>

