<template>
    <transition
        name="fade"
        appear
        @after-enter="afterEnter"
        @before-leave="beforeLeave"
    >
        <router-view name="modal" />
    </transition>
</template>

<script>
export default {
    name: 'ModalView',

    methods: {
        afterEnter () {
            this.$bus.$emit('window:lock');
        },

        beforeLeave () {
            this.$bus.$emit('window:unlock');
        }
    }
};
</script>
