<template>
    <div
        :class="[$style.modal, { [$style.isReady]: isReady }]"
        aria-describedby="modalTitle"
        role="dialog"
        tabindex="-1"
        @keyup.esc="back"
    >
        <div :class="$style.backdrop" @click="back" />
        <div :class="$style.wrapper">
            <transition
                name="modal"
                @after-enter="isReady = true"
            >
                <div
                    v-show="showDialog"
                    :class="$style.body"
                    role="document"
                >
                    <header :class="$style.header">
                        <slot name="header">
                            <h2 id="modalTitle">{{ heading }}</h2>
                        </slot>
                        <button
                            :class="$style.close"
                            aria-label="Close"
                            title="Close!"
                            type="button"
                            @click="back"
                        ><span /></button>
                    </header>
                    <main :class="$style.content">
                        <slot />
                    </main>
                    <footer :class="$style.footer">
                        <slot name="footer" />
                    </footer>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Modal',

    props: {
        heading: String
    },

    data () {
        return {
            isReady: false,
            showDialog: false
        };
    },

    created () {
        this.previouslyFocusedElement = document.activeElement;

        this.innerRoutesCount = 1;
        this.unsubscribeGuard = this.$router.afterEach(_ => {
            this.innerRoutesCount += 1;
        });

        this.$bus.$on('modal:close', this.back);
    },

    beforeDestroy () {
        this.unsubscribeGuard();

        if (this.$el.contains(document.activeElement)) {
            this.previouslyFocusedElement.focus();
        }
    },

    mounted () {
        this.showDialog = true;
        this.$el.focus();
    },

    methods: {
        back () {
            if (this.innerRoutesCount > 1) {
                this.$router.go(-this.innerRoutesCount);
            } else {
                this.$router.push('/');
            }
        }
    }

};
</script>

<style lang='stylus' module>
$offset-top = 42px

.modal
    position fixed
    top 0
    left 0
    right 0
    height 100%
    background-color #fff
    z-index 110
    outline 0

    @media desktop-and-up
        background 0 0

    &.isReady
        overflow-y auto

.backdrop
    @media desktop-and-up
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        background-color #000
        opacity .55
        z-index 1

.wrapper
    position relative
    z-index 2

    @media desktop-and-up
        margin-top $offset-top
        max-width 1080px
        margin-x auto

.body
    min-height 100vh
    display flex
    flex-direction column

    @media desktop-and-up
        box-shadow 0 0 16px 0 rgba(0, 0, 0, .21)
        min-height 'calc(100vh - %s)' % $offset-top
        background-color #fff

.close
    clear-button-defaults()
    margin-left auto
    padding-left 10px

    span
        position relative
        display block
        size 18px
        color #515151
        transform rotate(45deg)

        @media desktop-and-up
            size 26px
            transition opacity .2s

            @media desktop-and-up
                &:hover
                    opacity .6

        &::after
        &::before
            content ''
            position absolute
            background-color currentColor

        &::after
            top 0
            left calc(50% - 1px)
            width 2px
            height 100%

        &::before
            left 0
            top calc(50% - 1px)
            height 2px
            width 100%

.header
    display flex
    align-items center
    padding 10px
    position fixed
    top 0
    left 0
    right 0
    z-index 10
    background-color #fff

    h2
        font-size 26px
        font-weight 300
        color #bababa

    @media desktop-and-up
        position static
        padding 30px 110px

.footer
    padding 25px 10px
    border-top 1px solid #eaeaea

    @media desktop-and-up
        padding 30px 110px

.footer
.header
    flex 0 0 auto

.content
    flex 1 1 auto
    padding-top 64px
    margin-bottom 10px

    @media desktop-and-up
        padding-top 0
        margin-bottom 30px

</style>
