<template>
    <div :class="$style.optimizations">
        <div
            v-for="(opt, index) in list"
            :key="index"
            :class="$style.item"
        >
            <div :class="$style.entry">
                <div :class="$style.title">
                    <h3 :class="$style.name">{{ opt.name }}</h3>
                    <span :class="$style.author">{{ opt.id }}</span>
                </div>
            </div>
            <div :class="$style.controls">
                <div :class="$style.control">
                    <BaseTooltip
                        :small="true"
                        :delay="tooltipDelay"
                        position="top"
                    >
                        <template slot="target">
                            <button
                                :class="[$style.button, { [$style.deactive]: !opt.enabled}]"
                                type="button"
                                @click="opt.enabled= !opt.enabled"
                            >
                                <span :class="[$style.controlIcon, $style.enabled]">
                                    <AssistantIcon />
                                </span>
                            </button>
                        </template>
                        <span>{{ tooltip }}</span>
                    </BaseTooltip>
                </div>
                <div :class="$style.control">
                    <BaseTooltip
                        :small="true"
                        :delay="tooltipDelay"
                        position="top"
                    >
                        <template slot="target">
                            <button
                                :class="[$style.button, { [$style.deactive]: !opt.notification }]"
                                type="button"
                                @click="opt.notification = !opt.notification"
                            >
                                <span :class="[$style.controlIcon, $style.turnOff]">
                                    <TurnOffIcon />
                                </span>
                            </button>
                        </template>
                        <span>{{ tooltip }}</span>
                    </BaseTooltip>
                </div>
                <div :class="$style.control">
                    <BaseTooltip
                        :small="true"
                        :delay="tooltipDelay"
                        position="top"
                    >
                        <template slot="target">
                            <button
                                :class="$style.button"
                                type="button"
                            >
                                <span :class="[$style.controlIcon, $style.copy]">
                                    <CopyIcon />
                                </span>
                            </button>
                        </template>
                        <span>{{ tooltip }}</span>
                    </BaseTooltip>
                </div>
                <div :class="$style.control">
                    <BaseTooltip
                        :small="true"
                        :delay="tooltipDelay"
                        position="top"
                    >
                        <template slot="target">
                            <button
                                :class="$style.button"
                                type="button"
                            >
                                <span :class="[$style.controlIcon, $style.edit]">
                                    <EditIcon />
                                </span>
                            </button>
                        </template>
                        <span>{{ tooltip }}</span>
                    </BaseTooltip>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import icons from '@/components/optimization-icons';
import BaseTooltip from '@/components/BaseTooltip';

export default {
    name: 'Modallist',
    components: {
        ...icons,
        BaseTooltip
    },
    props: {
        list: Array
    },
    data () {
        return {
            tooltipDelay: 800,
            tooltip: 'Enable virtual assistant'
        };
    }
};
</script>

<style lang='stylus' module>
.optimizations
    margin-top 18px

    @media desktop-and-up
        margin-top 70px

.item
    border-radius 4px
    background-color #fff
    box-shadow 0 0 13px 0 rgba(0, 0, 0, .04)
    cursor pointer

    &:not(:last-of-type)
        margin-bottom 20px

    @media desktop-and-up
        padding 28px 20px
        display flex
        align-items center

.entry
    padding 10px 12px 12px 17px
    display flex

    @media desktop-and-up
        padding 0
        flex 1 1 auto
        align-items center

.icon
    size 24px
    display block
    order 1
    flex-shrink 0
    margin-top 5px

    @media desktop-and-up
        order 0
        margin-top 0
        margin-right 14px

.title
    font-size 14px
    flex 1 1 auto

.name
    font-weight 700
    color #4a4a4a
    margin-bottom 7px

    @media desktop-and-up
        display inline-block
        margin-bottom 0

        &::after
            content '/'
            display inline-block
            margin-left .6ch

.author
    color #8f8f8f
    font-weight 400

    @media desktop-and-up
        display inline-block

.controls
    display flex
    border-top 1px solid #ddd

    @media desktop-and-up
        border-top 0

.button
    clear-button-defaults()
    padding 10px 25px

    &.deactive
        opacity .3

    @media (hover)
        transition opacity .25s

        &:hover:not(.deactive)
            opacity .5

    @media desktop-and-up
        padding 0

.control
    flex 1 1 auto

    &:not(:last-child)
        border-right 1px solid #ddd

        @media desktop-and-up
            border-right 0
            margin-right 15px

.controlIcon
    display block

    &.assistant
        height 23px
        width 25px

    &.turnOff
        size 23px

    &.copy
        size 23px

    &.edit
        size 22px

</style>
