<template>
    <div :class="$style.optimizations">
        <div
            v-for="(opt, index) in list"
            v-if="opt.account==sortby"
            :key="index"
            :class="$style.item"
        >
            <div :class="$style.entry">
                <span :class="$style.icon">
                    <component :is="opt.tipconfig_type" />
                </span>
                <div :class="$style.title">
                    <h3 :class="$style.name">{{ opt.name }}</h3>
                    <span :class="$style.author">{{ addTypesName(opt) }}</span>
                </div>
            </div>
            <div :class="$style.controls">
                <div :class="$style.control">
                    <button
                        :class="$style.button"
                        :title = "i18n('edit')"
                        type="button"
                        @click="editOptim(opt)"
                    >
                        <span :class="[$style.controlIcon, $style.edit]">
                            <PencilIcon />
                        </span>
                    </button>
                </div>
                <div :class="$style.control">
                    <button
                        :class="[$style.button]"
                        :title = "i18n('recomend')"
                        type="button"
                        @click="ongetReccomendations(opt)"
                    >
                        <span :class="[$style.controlIcon, $style.bot_notifications]">
                            <NotificationIcon />
                        </span>
                    </button>
                </div>
                <div :class="$style.control">
                    <button
                        :class="[$style.button, { [$style.deactive]: !opt.active }]"
                        :title = "i18n('activate_opt')"
                        type="button"
                        @click="onActivateOptim(opt)"
                    >
                        <span :class="[$style.controlIcon, $style.turnOff]">
                            <TurnOffIcon />
                        </span>
                    </button>
                </div>
                <div :class="$style.control">
                    <button
                        :class="$style.button"
                        :title = "i18n('trash')"
                        type="button"
                        @click="confirmDelOptim(opt)"
                    >
                        <span :class="[$style.controlIcon, $style.trash]">
                            <TrashIcon />
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';
import types from '@/TypeNames';
import icons from '@/components/optimization-icons';
import BaseTooltip from '@/components/BaseTooltip';
import { mapGetters } from 'vuex';
import axios from 'axios';

export default {
    name: 'Optimizations',

    components: {
        ...icons,
        BaseTooltip
    },
    props: {
        sortby: {
            type: Number,
            default: 0
        }
    },
    data () {
        return {
            tooltipDelay: 400,
            i18nDictionary,
            i18n,
            types
        };
    },
    computed: {
        ...mapGetters({
            list: 'apiSettings/tipconfigs'
        })
    },
    created () {
        this.getOptList();
    },
    mounted () {
        this.$bus.$on('createNewOpim', () => {
            this.getOptList();
        });
    },
    methods: {
        getOptList () {
            this.$store.dispatch('apiSettings/getTipconfigs');
        },
        addTypesName (tip) {
            return this.i18n(tip.tipconfig_type);
        },
        editOptim (item) {
            this.$router.push({ path: '/optimization', query: { id: item.id } });
        },
        ongetReccomendations (opt) {
            axios
                .get(`/api/tipconfig/${opt.id}/results`)
                .then(response => {
                    console.log(response.data);
                    this.$bus.$emit('getnotification', response.data);
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        },
        onActivateOptim (opt) {
            opt.active = !opt.active;
            axios
                .patch(`/api/tipconfig/${opt.id}`, { active: opt.active })
                .then(response => {
                    console.log(response.data);
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        },

        confirmDelOptim (opt) {
            /* eslint-disable */
            if (confirm('Are you sure you want to delete this optimization?')) { 
            /* eslint-enable */
                this.delOptim(opt);
            }
        },
        delOptim (opt) {
            for (let i = 0; i < this.list.length; i++) {
                const key = this.list[i];
                if (opt.id === key.id) {
                    this.list = this.list.filter(item => item !== key);
                }
            }
            axios
                .delete(`/api/tipconfig/${opt.id}`)
                .then(response => {
                    this.getOptList();
                    console.log(response.data);
                })
                .catch(error => {
                    console.log(error);
                    if (error.response.status === 400) {
                        console.log(error.response.data.reason);
                    }
                    return true;
                });
        }
    }
};
</script>

<style lang='stylus' module>
.optimizations
    margin-top 18px

    @media desktop-and-up
        margin-top 70px

.item
    border-radius 4px
    background-color #fff
    box-shadow 0 0 13px 0 rgba(0, 0, 0, .04)
    cursor pointer

    &:not(:last-of-type)
        margin-bottom 20px

    @media desktop-and-up
        padding 28px 20px
        display flex
        align-items center

.entry
    padding 10px 12px 12px 17px
    display flex

    @media desktop-and-up
        padding 0
        flex 1 1 auto
        align-items center

.icon
    size 24px
    display block
    order 1
    flex-shrink 0
    margin-top 5px

    @media desktop-and-up
        order 0
        margin-top 0
        margin-right 14px

.title
    font-size 14px
    flex 1 1 auto

.name
    font-weight 700
    color #4a4a4a
    margin-bottom 7px

    @media desktop-and-up
        display inline-block
        margin-bottom 0

        &::after
            content '/'
            display inline-block
            margin-left .6ch

.author
    color #8f8f8f
    font-weight 400

    @media desktop-and-up
        display inline-block

.controls
    display flex
    border-top 1px solid #ddd

    @media desktop-and-up
        border-top 0

.button
    clear-button-defaults()
    padding 10px 25px

    &.deactive
        opacity .3

    @media (hover)
        transition opacity .25s

        &:hover:not(.deactive)
            opacity .5

    @media desktop-and-up
        padding 0

.control
    flex 1 1 auto

    &:not(:last-child)
        border-right 1px solid #ddd

        @media desktop-and-up
            border-right 0
            margin-right 15px

.controlIcon
    display block

    &.bot_notifications
        size 18px

    &.turnOff
        size 23px

    &.copy
        size 23px

    &.edit
        size 22px

    &.pencil
        size 22px

    &.trash
        size 23px

</style>
