<template>
    <div :class="$style.pricingSpends">
        <div :class="$style.header">
            <div :class="$style.stats">
                <span :class="$style.statName">{{ i18n('ad_campagins') }}</span>
                <span :class="$style.statSelected">{{ getSelectedAccountsCount }}</span>
                <span :class="$style.statTotal">/ {{ getAccountsCount }}</span>
                <div :class="$style.statTooltip">
                    <BaseTooltip>{{ i18n('number_of_ad_campagins') }}</BaseTooltip>
                </div>
            </div>
            <div :class="$style.stats">
                <span :class="$style.statName">{{ i18n('spend') }}</span>
                <span :class="$style.statSelected">{{ getCurrentSpend | toCurrency }}</span>
                <span :class="$style.statTotal">/ {{ getTotalSpend | toCurrency }}</span>
                <div :class="$style.statTooltip">
                    <BaseTooltip>{{ i18n('monthly_ad_spend') }}</BaseTooltip>
                </div>
            </div>
        </div>
        <PricingAdsTab
            v-for="(ad, index) in getSortedAds"
            :key="ad.id"
            :data="ad"
            :index="index"
        />
    </div>
</template>

<script>
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';
import BaseTooltip from '@/components/BaseTooltip';
import PricingAdsTab from '@/components/PricingAdsTab';

import { mapGetters, mapState } from 'vuex';

export default {
    name: 'PricingSpends',
    components: {
        BaseTooltip,
        PricingAdsTab
    },
    data () {
        return {
            i18n,
            i18nDictionary
        };
    },

    computed: {
        ...mapState({
            ads: 'pricingModule/ads',
            labels: 'settingsModule/labels'
        }),
        ...mapGetters('settingsModule', [
            'getLabel',
            'getLabelsLength'
        ]),
        ...mapGetters('pricingModule', [
            'getTotalSpend',
            'getSortedAds',
            'getSelectedAccountsCount',
            'getAccountsCount',
            'getCurrentSpend'
        ])
    }
};
</script>

<style lang='stylus' module>
.header
    margin-bottom 20px
    padding-x 10px

    @media desktop-and-up
        margin-bottom 14px
        display flex
        justify-content space-between
        padding-x 110px

.stats
    display flex
    align-items center
    font-size 14px
    padding 5px

.statTooltip
    margin-left 7px

.statName
    margin-right 10px

.statName
.statSelected
    font-weight 700

.statTotal
    color #343434
    opacity .6
    margin-left .5ch
</style>
