<template>
    <div :class="$style.preloader">
        <PreloaderIcon />
    </div>
</template>

<script>
import PreloaderIcon from '@svg/preloader.svg?inline';

export default {
    name: 'Prelaoder',

    components: {
        PreloaderIcon
    }
};
</script>

<style lang='stylus' module>
.preloader
    stroke $accent
</style>

<style lang="stylus">
$duration = 1.6s

.loader-icon
.loader-icon
    animation rotate $duration linear infinite
    transform-origin center center

.loader-bg
    opacity .14

.loader-bg
.loader-path
    stroke-linecap round
    stroke-width .3

.loader-path
    stroke-dasharray 1200
    stroke-dashoffset 0
    animation dash $duration ease-in-out infinite

@keyframes rotate
    to
        transform rotate(360deg)

@keyframes dash
    0%
        stroke-dasharray 1, 200
        stroke-dashoffset 0
    50%
        stroke-dasharray 89, 200
        stroke-dashoffset -35Px
    100%
        stroke-dasharray 89, 200
        stroke-dashoffset -124Px
</style>

