<template>
    <div
        v-show="!onboard"
        :class="$style.optimizations"
    >
        <ActivateTrial />
        <div :class="$style.item">
            <p> {{ i18n('text_greeting') }}
                <ol>
                    <li :class="{ [$style['done']]: botstatus }">
                        {{ i18n('personal_assisant') }}
                        <a :href = "botUrl" target="_blank">{{ botUrl }}</a>
                    </li>
                    <li :class="{ [$style['done']]: checkedAcc }">
                        {{ i18n('choose_account') }}
                        <span :class="$style.link" @click="go('/plans')"> /plans </span>
                    </li>
                    <li :class="{ [$style['done']]: createOptim }">
                        {{ i18n('first_optimization') }}
                        <span :class="$style.link" @click="go('/optimization')"> /optimization </span>
                    </li>
                    <li :class="{ [$style['done']]: sendedNotify }">
                        {{ i18n('get_notify') }}
                    </li>
                </ol>
            </p>
        </div>
        <Preloader
            v-if="!existUser"
            :class="$style.preloader"
        />
    </div>
</template>

<script>
import { setCookie, getCookie } from 'tiny-cookie';
import i18nDictionary from '@/utils/i18nDictionary';
import i18n from '@/utils/i18nQuery';
import types from '@/TypeNames';
import typesDict from '@/TypeNamesObj';
import ActivateTrial from '@/components/ActivateTrial';
import BaseTooltip from '@/components/BaseTooltip';
import axios from 'axios';
import store from '@/store';
import { mapGetters } from 'vuex';
import Preloader from '@/components/Preloader';

export default {
    name: 'UserTasks',
    components: {
        ActivateTrial,
        BaseTooltip,
        Preloader
    },
    data () {
        return {
            tooltipDelay: 400,
            i18nDictionary,
            i18n,
            checkedAcc: false,
            createOptim: false,
            types,
            typesDict,
            existUser: false,
            botstatus: false,
            sendedNotify: false,
            getnotification: false,
            botUrl: 'https://m.me/leadza',
            onboard: false
        };
    },
    computed: {
        ...mapGetters({
            createdUser: 'auth/exist'
        })
    },
    watch: {
        createdUser () {
            this.getSettings();
        }
    },
    mounted () {
        this.onboard = getCookie('onboard');
        this.getSettings();
        this.startIntercom();
        this.$bus.$on('addAccount', data => {
            this.checkedAcc = data.enabled_campaigns.length > 0;
        });
        this.$bus.$on('createNewOpim', () => {
            this.createOptim = true;
        });
        this.$bus.$on('getnotification', () => {
            this.sendedNotify = true;
            setCookie('onboard', true);
            this.onboard = true;
        });
    },

    methods: {
        getSettings () {
            axios
                .get(`/api/user/${store.getters['auth/userId']}`)
                .then(response => {
                    this.botstatus = response.data.bot_connected;
                    this.existUser = true;
                    if (response.data.bot_connected === false) {
                        this.getBotLink();
                    }
                })
                .catch(error => {
                    console.log(error);
                    store.dispatch('auth/CreatesNewUser');
                });
        },
        getBotLink () {
            axios
                .get('/api/etc/bot_url')
                .then(response => {
                    this.botUrl = response.data.bot_url;
                })
                .catch(error => {
                    console.log(error);
                    console.log('not found bot url');
                    return false;
                });
        },
        startIntercom () {
            axios
                .get(`/api/user/${store.getters['auth/userId']}/intercom_fields_data`)
                .then(response => {
                    const toIntercom = response.data;
                    window.Intercom('boot', toIntercom);
                })
                .catch(error => {
                    console.log(error);
                    console.log('not get intercom info');
                    return false;
                });
        },

        go (path) {
            this.$router.push(path);
        }
    }
};
</script>

<style lang='stylus' module>
p
    padding 4px
    margin auto
    width 90%
    line-height 2
.done
    color gray
    text-decoration line-through
    .link
        color gray
.optimizations
    margin-top 18px

    @media desktop-and-up
        margin-top 70px

.item
    border-radius 4px
    background-color #fff
    box-shadow 0 0 13px 0 rgba(0, 0, 0, .04)
    cursor pointer

    &:not(:last-of-type)
        margin-bottom 20px

    @media desktop-and-up
        padding 28px 20px
        align-items center
    h3
        font-size 200%
        text-align center
        padding 5%
    ol
       list-style-type: decimal
.link
    color blue
.preloader
    size 200px
    margin auto
</style>
