get-vw($screenWidth, $target)
    $vw-context = (remove-unit($screenWidth) * 0.01)
    return ($target / $vw-context) * 1vw

fluid-property-range($property, $min-vw, $max-vw, $min-value, $max-value)
    &
        @media screen and (min-width: $min-vw) and (max-width $max-vw)
            {$property} "calc(%s + %s * ((100vw - %s) / %s))!important" % ($min-value remove-unit($max-value - $min-value) $min-vw remove-unit($max-vw - $min-vw))
        @media screen and (min-width: $max-vw)
            {$property} $max-value!important

static($from, $to, $base-font-size)
    :root
        @media (min-width: $from) and (max-width: $to - 1)
            font-size unit(remove-unit($base-font-size), 'Px')

    :root.is-desktop
        font-size unit(remove-unit($base-font-size), 'Px')

init-scalable($screens, $base-font-size, $static-from, $static-to, $infinity-ratio = 0.6)
    $fluid-resolved = false
    :root
        font-size unit(remove-unit($base-font-size), 'Px')

        for $name, $resolution in $screens
            if $fluid-resolved
                @media (min-width: $resolution.min) and (max-width: $resolution.max)
                    font-size get-vw($resolution['min'], remove-unit($base-font-size))
            else
                fluid-property-range('font-size', $resolution['min'], $resolution['min'] * 4, $base-font-size, $base-font-size * 4 * $infinity-ratio);
                $fluid-resolved = true

    static($static-from, $static-to, $base-font-size)

