<template>
    <div id="root">
        <main class="view">
            <transition name="page-fade">
                <router-view />
            </transition>
        </main>
    </div>
</template>

<script>
import browserSupport from '@/utils/browser-support';
import { mapActions } from 'vuex';

export default {
    name: 'Root',

    data () {
        return {
            lockQueue: 0
        };
    },

    created () {
        const { isOldBrowser, isMobile } = browserSupport;
        this.$html = document.documentElement;

        if (isOldBrowser) {
            this.$router.push('/old-browser');
        }

        if (!isMobile) {
            document.documentElement.classList.add('is-desktop');
        }

        this.$router.beforeEach((to, from, next) => {
            if (to.name !== 'old-browser' && isOldBrowser) {
                next('/old-browser');
            } else {
                next();
            }
        });

        this.$bus.$on('window:lock', this.lockScroll);
        this.$bus.$on('window:unlock', this.unlockScroll);

        // this.getLabels();
    },

    methods: {
        ...mapActions('settingsModule', ['getLabels']),

        unlockScroll () {
            this.lockQueue -= 1;

            if (this.lockQueue === 0) {
                this.$html.classList.remove('is-locked');

                setTimeout(() => {
                    window.scrollTo(0, this.scrollTop || 0);
                }, 50);
            }
        },

        lockScroll () {
            this.lockQueue += 1;

            if (this.lockQueue === 1) {
                this.saveScrollPosition();
                this.$html.classList.add('is-locked');
            }
        },

        saveScrollPosition () {
            this.scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        }
    }
};
</script>

<style lang="stylus">
@import './styles/index.styl'
</style>
